# Try to build a numpy array with the data in data.txt  using f = open('data.txt') instead if np.loadtxt and np.genfromtxt.

In [1]:
import numpy as np

I try way 'a' and way 'b' to get rid of \n

In [2]:
f = open('data.txt', 'r')
a = [line.strip().split() for line in f]#a is a list

In [3]:
a

[['#', 'Name', 'ID', 'RA', 'DEC', 'z', 'z_err', 'zQF'],
 ['0011',
  '11.0',
  '69.60398',
  '-12.33483',
  '0.14502699731',
  '5.39539923983e-05',
  '0.0'],
 ['0038',
  '38.0',
  '69.5969',
  '-12.32047',
  '0.502938602945',
  '0.000222303791245',
  '1.0'],
 ['0042', '42.0', '69.57136', '-12.31795', '0.0', '0.001', '0.0'],
 ['0055', '55.0', '69.59832', '-12.31157', '0.0', '0.001', '0.0'],
 ['0057', '57.0', '69.5978429', '-12.311442', '0.0', '0.001', '0.0'],
 ['0072', '72.0', '69.61111', '-12.3037', '0.0', '0.001', '0.0'],
 ['0080', '80.0', '69.55023', '-12.30339', '0.0', '0.001', '0.0'],
 ['0083', '83.0', '69.58752', '-12.30232', '0.0', '0.001', '0.0'],
 ['0085', '85.0', '69.56567', '-12.30147', '0.0', '0.001', '0.0'],
 ['0111', '111.0', '69.59927', '-12.29414', '0.0', '0.001', '0.0'],
 ['0114', '114.0', '69.52129', '-12.2893', '0.0', '0.001', '0.0'],
 ['0119', '119.0', '69.5651', '-12.28924', '0.0', '0.001', '0.0'],
 ['0125', '125.0', '69.53808', '-12.28883', '0.0', '0.001', '0.0'],
 ['0126', '126.0', '69.54177', '-12.28782', '0.0', '0.001', '0.0'],
 ['0128',
  '128.0',
  '69.60646',
  '-12.28668',
  '0.369864207858',
  '8.03355766875e-05',
  '0.0'],
 ['0164',
  '164.0',
  '69.52007',
  '-12.24671',
  '0.581369862213',
  '0.000216496440347',
  '2.0'],
 ['0182', '182.0', '69.53533', '-12.25025', '0.0', '0.001', '0.0'],
 ['0185',
  '185.0',
  '69.52459',
  '-12.24947',
  '0.585115787002',
  '0.000104162060008',
  '0.0'],
 ['0190', '190.0', '69.55228', '-12.25292', '0.0', '0.001', '0.0']]

**DS** Here, what I would do is convert your list into an array. 
Because the first row of your list is made of string, you'll have trouble converting the list into an array of float in one single command line ... but you can do it after reading the file. Hence:

In [4]:
myarray_of_data = np.array(a[1:], dtype=float)

In [5]:
myarray_of_data.shape, myarray_of_data.dtype

((19, 7), dtype('float64'))

In [6]:
# An alternative code would be 
f = open('data.txt', 'r')
lines = f.readlines()
# Note here that I start at row 1
myarray = np.array([lines[i].strip().split() for i in range(1, len(lines))], dtype=float)
f.close()
myarray

array([[ 1.10000000e+01,  1.10000000e+01,  6.96039800e+01,
        -1.23348300e+01,  1.45026997e-01,  5.39539924e-05,
         0.00000000e+00],
       [ 3.80000000e+01,  3.80000000e+01,  6.95969000e+01,
        -1.23204700e+01,  5.02938603e-01,  2.22303791e-04,
         1.00000000e+00],
       [ 4.20000000e+01,  4.20000000e+01,  6.95713600e+01,
        -1.23179500e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 5.50000000e+01,  5.50000000e+01,  6.95983200e+01,
        -1.23115700e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 5.70000000e+01,  5.70000000e+01,  6.95978429e+01,
        -1.23114420e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 7.20000000e+01,  7.20000000e+01,  6.96111100e+01,
        -1.23037000e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 8.00000000e+01,  8.00000000e+01,  6.95502300e+01,
        -1.23033900e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 8.30000000e+01,  8.30000000e+01,  6.95875200e+01,
        -1.23023200e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 8.50000000e+01,  8.50000000e+01,  6.95656700e+01,
        -1.23014700e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 1.11000000e+02,  1.11000000e+02,  6.95992700e+01,
        -1.22941400e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 1.14000000e+02,  1.14000000e+02,  6.95212900e+01,
        -1.22893000e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 1.19000000e+02,  1.19000000e+02,  6.95651000e+01,
        -1.22892400e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 1.25000000e+02,  1.25000000e+02,  6.95380800e+01,
        -1.22888300e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 1.26000000e+02,  1.26000000e+02,  6.95417700e+01,
        -1.22878200e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 1.28000000e+02,  1.28000000e+02,  6.96064600e+01,
        -1.22866800e+01,  3.69864208e-01,  8.03355767e-05,
         0.00000000e+00],
       [ 1.64000000e+02,  1.64000000e+02,  6.95200700e+01,
        -1.22467100e+01,  5.81369862e-01,  2.16496440e-04,
         2.00000000e+00],
       [ 1.82000000e+02,  1.82000000e+02,  6.95353300e+01,
        -1.22502500e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00],
       [ 1.85000000e+02,  1.85000000e+02,  6.95245900e+01,
        -1.22494700e+01,  5.85115787e-01,  1.04162060e-04,
         0.00000000e+00],
       [ 1.90000000e+02,  1.90000000e+02,  6.95522800e+01,
        -1.22529200e+01,  0.00000000e+00,  1.00000000e-03,
         0.00000000e+00]])

In [7]:
# To write this array into a file, you can use np.savetxt()
np.savetxt('myfile.txt', myarray_of_data)

In [8]:
# If you wish to write it in a more controled way 
myhead = '# Name ID RA DEC z z_err zQF \n'
f = open('myfile.txt', 'w')
f.writelines(myhead)
for i in range(myarray_of_data.shape[0]):
    lst_fmt = ['%.4i ', '%.1f ', '%.5f ', '%.5f ', '%.f ', '%.4f ',  '%.f \n'] # list of format of the different colums 
    # Note the space included there to separate the columns, you can use \t to have a tab or a comma if you wish csv like file
    f.writelines([lst_fmt[j]%myarray_of_data[i, j] for j in range(7)])
f.close()

**DS** Below is your original code

In [9]:
f = open('data.txt', 'r')
b = np.array([line.strip().split() for line in f])#b is an array
b = b[1:len(b)]#"!head data.txt -2 " this code doen't work

In [10]:
b

array([list(['0011', '11.0', '69.60398', '-12.33483', '0.14502699731', '5.39539923983e-05', '0.0']),
       list(['0038', '38.0', '69.5969', '-12.32047', '0.502938602945', '0.000222303791245', '1.0']),
       list(['0042', '42.0', '69.57136', '-12.31795', '0.0', '0.001', '0.0']),
       list(['0055', '55.0', '69.59832', '-12.31157', '0.0', '0.001', '0.0']),
       list(['0057', '57.0', '69.5978429', '-12.311442', '0.0', '0.001', '0.0']),
       list(['0072', '72.0', '69.61111', '-12.3037', '0.0', '0.001', '0.0']),
       list(['0080', '80.0', '69.55023', '-12.30339', '0.0', '0.001', '0.0']),
       list(['0083', '83.0', '69.58752', '-12.30232', '0.0', '0.001', '0.0']),
       list(['0085', '85.0', '69.56567', '-12.30147', '0.0', '0.001', '0.0']),
       list(['0111', '111.0', '69.59927', '-12.29414', '0.0', '0.001', '0.0']),
       list(['0114', '114.0', '69.52129', '-12.2893', '0.0', '0.001', '0.0']),
       list(['0119', '119.0', '69.5651', '-12.28924', '0.0', '0.001', '0.0']),
       list(['0125', '125.0', '69.53808', '-12.28883', '0.0', '0.001', '0.0']),
       list(['0126', '126.0', '69.54177', '-12.28782', '0.0', '0.001', '0.0']),
       list(['0128', '128.0', '69.60646', '-12.28668', '0.369864207858', '8.03355766875e-05', '0.0']),
       list(['0164', '164.0', '69.52007', '-12.24671', '0.581369862213', '0.000216496440347', '2.0']),
       list(['0182', '182.0', '69.53533', '-12.25025', '0.0', '0.001', '0.0']),
       list(['0185', '185.0', '69.52459', '-12.24947', '0.585115787002', '0.000104162060008', '0.0']),
       list(['0190', '190.0', '69.55228', '-12.25292', '0.0', '0.001', '0.0'])],
      dtype=object)

In [11]:
print(b.dtype)
print(b.shape)
print(b.size)

object
(19,)
19

??? how to create an array in an easy way which is not a list like 'a' or not an object like 'b'.

In [12]:
b # I want to crate a float array from b

array([list(['0011', '11.0', '69.60398', '-12.33483', '0.14502699731', '5.39539923983e-05', '0.0']),
       list(['0038', '38.0', '69.5969', '-12.32047', '0.502938602945', '0.000222303791245', '1.0']),
       list(['0042', '42.0', '69.57136', '-12.31795', '0.0', '0.001', '0.0']),
       list(['0055', '55.0', '69.59832', '-12.31157', '0.0', '0.001', '0.0']),
       list(['0057', '57.0', '69.5978429', '-12.311442', '0.0', '0.001', '0.0']),
       list(['0072', '72.0', '69.61111', '-12.3037', '0.0', '0.001', '0.0']),
       list(['0080', '80.0', '69.55023', '-12.30339', '0.0', '0.001', '0.0']),
       list(['0083', '83.0', '69.58752', '-12.30232', '0.0', '0.001', '0.0']),
       list(['0085', '85.0', '69.56567', '-12.30147', '0.0', '0.001', '0.0']),
       list(['0111', '111.0', '69.59927', '-12.29414', '0.0', '0.001', '0.0']),
       list(['0114', '114.0', '69.52129', '-12.2893', '0.0', '0.001', '0.0']),
       list(['0119', '119.0', '69.5651', '-12.28924', '0.0', '0.001', '0.0']),
       list(['0125', '125.0', '69.53808', '-12.28883', '0.0', '0.001', '0.0']),
       list(['0126', '126.0', '69.54177', '-12.28782', '0.0', '0.001', '0.0']),
       list(['0128', '128.0', '69.60646', '-12.28668', '0.369864207858', '8.03355766875e-05', '0.0']),
       list(['0164', '164.0', '69.52007', '-12.24671', '0.581369862213', '0.000216496440347', '2.0']),
       list(['0182', '182.0', '69.53533', '-12.25025', '0.0', '0.001', '0.0']),
       list(['0185', '185.0', '69.52459', '-12.24947', '0.585115787002', '0.000104162060008', '0.0']),
       list(['0190', '190.0', '69.55228', '-12.25292', '0.0', '0.001', '0.0'])],
      dtype=object)

In [13]:
n = len(b)
m = len(b[0])

In [14]:
new_array = np.empty(shape=(n,m))

In [15]:
b[0][0]

'0011'

??? I have to use two for loop so that I can extract data from b

In [16]:
for i in np.arange(n):
    for j in np.arange(m):
        new_array[i,j]=b[i][j]

In [17]:
new_array.dtype

dtype('float64')

In [18]:
g = np.genfromtxt('data.txt')
print(g.dtype)

float64

In [19]:
new_array-g

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

I want to create a new txt file and write in something, but it doen't really work

In [20]:
mf = open('myfile.txt', 'w')#create a new txt file
for i in np.arange(n):
    mf.write(b[i])

TypeError: write() argument must be str, not list

??? b[i] is a list, but it is a string list, I have to take the string elements one by one out of b[i]

In [21]:
len(b[0])

7

In [22]:
for i in np.arange(n):
    for j in np.arange(m):
        mf.write(b[i][j])

In [23]:
mf #it seems like that write in txt is working, but the numbers don't align with each other

In [24]:
mf.close()

In [25]:
mff = open('myfile.txt', 'r')
mff.readlines()

['001111.069.60398-12.334830.145026997315.39539923983e-050.0003838.069.5969-12.320470.5029386029450.0002223037912451.0004242.069.57136-12.317950.00.0010.0005555.069.59832-12.311570.00.0010.0005757.069.5978429-12.3114420.00.0010.0007272.069.61111-12.30370.00.0010.0008080.069.55023-12.303390.00.0010.0008383.069.58752-12.302320.00.0010.0008585.069.56567-12.301470.00.0010.00111111.069.59927-12.294140.00.0010.00114114.069.52129-12.28930.00.0010.00119119.069.5651-12.289240.00.0010.00125125.069.53808-12.288830.00.0010.00126126.069.54177-12.287820.00.0010.00128128.069.60646-12.286680.3698642078588.03355766875e-050.00164164.069.52007-12.246710.5813698622130.0002164964403472.00182182.069.53533-12.250250.00.0010.00185185.069.52459-12.249470.5851157870020.0001041620600080.00190190.069.55228-12.252920.00.0010.0']

In [26]:
mf = open('myfile.txt', 'w')
for i in np.arange(n):
    for j in np.arange(m):
        mf.write(b[i][j])
        if j==m-1:
            mf.write('\n')
mf.close()

In [27]:
mff = open('myfile.txt', 'r')
mff.readlines()

['001111.069.60398-12.334830.145026997315.39539923983e-050.0\n',
 '003838.069.5969-12.320470.5029386029450.0002223037912451.0\n',
 '004242.069.57136-12.317950.00.0010.0\n',
 '005555.069.59832-12.311570.00.0010.0\n',
 '005757.069.5978429-12.3114420.00.0010.0\n',
 '007272.069.61111-12.30370.00.0010.0\n',
 '008080.069.55023-12.303390.00.0010.0\n',
 '008383.069.58752-12.302320.00.0010.0\n',
 '008585.069.56567-12.301470.00.0010.0\n',
 '0111111.069.59927-12.294140.00.0010.0\n',
 '0114114.069.52129-12.28930.00.0010.0\n',
 '0119119.069.5651-12.289240.00.0010.0\n',
 '0125125.069.53808-12.288830.00.0010.0\n',
 '0126126.069.54177-12.287820.00.0010.0\n',
 '0128128.069.60646-12.286680.3698642078588.03355766875e-050.0\n',
 '0164164.069.52007-12.246710.5813698622130.0002164964403472.0\n',
 '0182182.069.53533-12.250250.00.0010.0\n',
 '0185185.069.52459-12.249470.5851157870020.0001041620600080.0\n',
 '0190190.069.55228-12.252920.00.0010.0\n']

In [28]:
mf = open('myfile.txt', 'w')
for i in np.arange(n):
    for j in np.arange(m):
        #mf.write('%.10s' %b[i][j]),#Can I use string format here?
        mf.write(b[i][j])
        mf.write(' ')
        if j==m-1:
            mf.write('\n')
mf.close()

In [29]:
mff = open('myfile.txt', 'r')
mff.readlines()

['0011 11.0 69.60398 -12.33483 0.14502699731 5.39539923983e-05 0.0 \n',
 '0038 38.0 69.5969 -12.32047 0.502938602945 0.000222303791245 1.0 \n',
 '0042 42.0 69.57136 -12.31795 0.0 0.001 0.0 \n',
 '0055 55.0 69.59832 -12.31157 0.0 0.001 0.0 \n',
 '0057 57.0 69.5978429 -12.311442 0.0 0.001 0.0 \n',
 '0072 72.0 69.61111 -12.3037 0.0 0.001 0.0 \n',
 '0080 80.0 69.55023 -12.30339 0.0 0.001 0.0 \n',
 '0083 83.0 69.58752 -12.30232 0.0 0.001 0.0 \n',
 '0085 85.0 69.56567 -12.30147 0.0 0.001 0.0 \n',
 '0111 111.0 69.59927 -12.29414 0.0 0.001 0.0 \n',
 '0114 114.0 69.52129 -12.2893 0.0 0.001 0.0 \n',
 '0119 119.0 69.5651 -12.28924 0.0 0.001 0.0 \n',
 '0125 125.0 69.53808 -12.28883 0.0 0.001 0.0 \n',
 '0126 126.0 69.54177 -12.28782 0.0 0.001 0.0 \n',
 '0128 128.0 69.60646 -12.28668 0.369864207858 8.03355766875e-05 0.0 \n',
 '0164 164.0 69.52007 -12.24671 0.581369862213 0.000216496440347 2.0 \n',
 '0182 182.0 69.53533 -12.25025 0.0 0.001 0.0 \n',
 '0185 185.0 69.52459 -12.24947 0.585115787002 0.000104162060008 0.0 \n',
 '0190 190.0 69.55228 -12.25292 0.0 0.001 0.0 \n']

??? in reality, it happens that we generate a big array (float) and want to write it into txt/ascii file, but here write function just accept str. What should we do: change float to string ?

In [30]:
mf = open('myfile.txt', 'w')
for i in np.arange(n):
    for j in np.arange(m):
        mf.write(new_array[i][j])
        mf.write(' ')
        if j==m-1:
            mf.write('\n')
mf.close()

TypeError: write() argument must be str, not numpy.float64